

.header{
    background-color: hsl(325, 100%, 41%, 100%);
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;

}

.menu { 
    margin-left: 40px;
}

.right {
    display: flex;
}


.about {
    margin-right: 40px;
}

.cart {
    margin-right: 40px;
}